*{
    --bluemain : #0d8bd4;
    --grey : #474559;
}
.item .project-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .project-info img{
    height: 500px;
    width: auto;
}

.double-btn{
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
    
}
.double-btn:hover{
    background-color: var(--bluemain);
    color: white;
}

.active-btn{
    background-color: var(--bluemain);
    color: white;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* .contact-info-item img{
    width: 300px;
    height: auto;
} */
#cphoto{
    width: 300px;
    height: auto;
}
.bg-black{
    background-color: var(--grey);
}

.popup {
    display: none; /* Sembunyikan popup secara default */
    position: fixed; /* Tetap di posisi tetap */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang transparan */
    z-index: 1000; /* Pastikan popup berada di atas konten lainnya */
}

.popup-content{
    background-color: white;
    margin: 17% auto;
    /*Posisikanditengah*/padding: 40px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 350px;
    /*Bataslebar*/text-align: center;
    border-radius: 8px;
    transition: 1s;
    /*transform: scale(0);
    */-webkit-transition: 0.5s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
}

.popup-content span{
    font-size: 3rem;
    color: var(--blue);
}
.popup-content button{
    border: none;
    height: 40px;
    width: 100px;
    background: var(--blue);
    color: var(--white);
    font-size: 1rem;
    margin-top: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.popup-content button a{
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}
.popup p{
    margin: 0;
}


/* .container{
    display: flex;
    flex-direction: row;
    gap: 30px;
} */
/* a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover{
    background-color: var(--bluemain);
    color: inherit;
} */

@media (min-width: 1270px) {
    .item .project-info img{
        height: 450px;
        width: auto;
    }
    #cphoto{
        width: 300px;
        height: auto;
    }
    .bg-black{
        background-color: var(--grey);
    }
}
@media (max-width: 767px){
    .item .project-info img{
        height: 250px;
        width: auto;
        display: flex;
        margin: 0 auto;
    }
    #cphoto{
        width: 300px;
        height: auto;
        display: flex;
        margin: 0 auto;
    }
    .bg-black{
        background-color: var(--grey);
    }
}
@media (max-width: 580px){
    .animated-info {
        min-width: 240px;
    }
    .item .project-info img{
        height: 270px;
        width: auto;
        display: flex;
        margin: 0 auto;
    }
    #cphoto{
        width: 280px;
        height: auto;
        display: flex;
        margin: 0 auto;
    }
    .bg-black{
        background-color: var(--grey);
    }
}